:root {
  --primary-bg-color: linear-gradient(to bottom, #4facfe, #00f2fe);
  --primary-text-color: #ffffff;
  --secondary-bg-color: rgba(255, 255, 255, 0.1);
  --list-item-bg-color: rgba(255, 255, 255, 0.2);
  --delete-button-hover-color: #ff6b6b;
  --form-submit-button-bg-color: #4facfe;
  --form-submit-button-hover-color: #00f2fe;
  --checkbox-color: #ffffff;
  --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Size for mobile */
@media (max-width: 480px) {
  h2 {
    font-size: 3rem;
  }
}

/* Size for tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 3.5rem;
  }
}

/* Size for PC */
@media (min-width: 1024px) {
  h2 {
    font-size: 4rem;
  }
}

